body {
    background: linear-gradient(120deg, #e27df1, #fd7cd2, #f8a0d6);
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* main-body-section styling */

.main-body-section {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column nowrap;
    gap: 10px;
}

/* heading-section styling */

.heading-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Image styling */

img {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
}

.heading-section > h1 {
    font-size: 46px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}

/* about-section styling*/

.about-section > div > p {
    font-size: 16px;
}

/* pros-vs-cons styling */

.pros-vs-cons {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

/* pros-section styling */

.pros-section {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    width: 50%;
}

/* pros-heading styling */

.pros-heading {
    padding-left: 350px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/* cons-section styling */

.cons-section {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    width: 50%;
}

/* cons-heading styling */

.cons-heading {
    padding-left: 350px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/* List styling */

li {
    font-size: 18px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}